% -*- mode: erlang -*-

%% Enable coverage reporting? (True if debugging.)
{cover_enabled, true}.
{cover_print_enabled, true}. 

%% Options that we want to go to the Erlang Compiler
{erl_opts, [
    debug_info %% Allow debugging?
    , fail_on_warning %% Don't allow even warnings when compiling!
    %, native  %% In order to get native HiPE support, NOT ALWAYS SUPPORTED!
]}. 

%% Get syslog dependencies from Github.
{deps, [
	{'syslog', ".*", 
        {git, "git://github.com/Empd/erlang-syslog.git", {branch, "master"}}}
]}.